{{!-- Subnav tabbs --}}

<section id="tabs" class="project-tab">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <nav>
              <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                {{#if (ifIsApplicant user.role) }}
                <a class="nav-item nav-link" id="nav-create-tab" data-toggle="tab" href="/create" role="tab" aria-controls="nav-create" aria-selected="false">Create</a>
                <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="/profile" role="tab" aria-controls="nav-profile" aria-selected="false">Profile</a>
                <a class="nav-item nav-link active" id="nav-project-tab" data-toggle="tab" href="/projects" role="tab" aria-controls="nav-project" aria-selected="true">Projects</a>
                {{/if}}
                {{#if (ifIsCommittee user.role) }}
                <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="/profile" role="tab" aria-controls="nav-profile" aria-selected="false">Profile</a>
                <a class="nav-item nav-link active" id="nav-project-tab" data-toggle="tab" href="/projects" role="tab" aria-controls="nav-project" aria-selected="true">Projects</a>
                {{/if}}
                {{#if (ifIsAdmin user.role) }}
                <a class="nav-item nav-link" id="nav-create-tab" data-toggle="tab" href="/create" role="tab" aria-controls="nav-create" aria-selected="false">Create</a>
                <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="/profile" role="tab" aria-controls="nav-profile" aria-selected="false">Profile</a>
                <a class="nav-item nav-link active" id="nav-project-tab" data-toggle="tab" href="/projects" role="tab" aria-controls="nav-project" aria-selected="true">Projects</a>
                <a class="nav-item nav-link" id="nav-admin-tab" data-toggle="tab" href="/admin" role="tab" aria-controls="nav-admin" aria-selected="false">Admin</a>
                {{/if}}
              </div>
            </nav>
          </div>
        </div>
      </div>
</section>

  <div class="container justify-content-center">

      <div class="card mx-auto" style="width: 80%;">
        <div class="card-body">
                <div class="profile-header">
                  <h3>{{name}}</h3>
                </div>

                

            <div>

              <div class="row align-items-center">
                  <div class="col">
                    <div class="mb-3">
                      {{!-- <h5>Project name: {{name}}</h5> --}}
                      <p>Date: {{date}}</p>
                      <p>Location: {{location}}</p>
                      <p>Description: {{description}}</p>
                      <p>Status: {{status}}</p>
                    </div>
                    <div class="mb-3">
                      <a href="{{projectplanUrl}}">See project plan</a>
                      <a href="{{costingUrl}}">See costing</a>
                    </div>
                </div> 

                <div class="col">
                  {{#if project.projectImageUrl}}
                    <img class="img-fluid" src="{{project.projectImageUrl}}" alt="{{project.projectname}}">
                  {{else}}
                    <img class="img-fluid" src="https://www.fondsvoorwest.nl/wp-content/uploads/2020/02/foto3-scaled.jpg" alt="Image placeholder">
                  {{/if}}
                </div>

            </div>

            <div>
                {{#if accountability}}
                <p>Accountability has been submitted</p>
                {{else}}
                <p>Please submit your accountability</p>
                {{/if}}
            </div> 
           <div class="d-flex justify-content-center">    
                {{#if (ifIsApplicant user.role)}}
                <a href="/projects/{{_id}}/edit" class="btn btn-primary" >Edit</a>
                <a href="/projects/{{_id}}/accountable" class="btn btn-secondary">Accountability</a>
                  <form action="/projects/{{_id}}/delete" method="POST"
                    onclick="return confirm('Are you sure you want to delete this project?')">
                    <button class="btn btn-danger">Delete</button>
                  </form>
                {{/if}}
                
                {{#if (ifIsCommittee user.role)}}
                <a href="/projects/{{_id}}/evaluate" class="btn btn-secondary">Evaluate</a>
                {{/if}}
                
                {{#if (ifIsAdmin user.role)}}
                <a href="/projects/{{_id}}/edit" class="btn btn-primary">Edit</a>
                <a href="/projects/{{_id}}/accountable" class="btn btn-secondary">Accountability</a>
                <a href="/projects/{{_id}}/evaluate" class="btn btn-secondary">Evaluate</a>
                  <form action="/projects/{{_id}}/delete" method="POST"
                    onclick="return confirm('Are you sure you want to delete this project?')">
                    <button class="btn btn-danger">Delete</button>
                  </form>
                {{/if}}
                </div>
            </div>
                <h4>Location</h4>
                <div id="map"></div>  

              {{#if errorMessage}}
              <p class="error">{{errorMessage}}</p>
              {{/if}}
          </div>
        </div>
      </div>
  </div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAEuWhJdMM1bU-s_b5MJQ7UkIFxQo-tFDs&callback=initMap&libraries=&v=weekly" defer></script>
 
    

{{#if errorMessage}}
<p>{{errorMessage}}</p>
{{/if}}



<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAEuWhJdMM1bU-s_b5MJQ7UkIFxQo-tFDs&callback=initMap&libraries=&v=weekly" defer></script>
