<h1>Project details</h1>

<div>
  <h4>{{name}}</h4>
  <p>{{date}}</p>
  <p>{{location}}</p>
  <p>{{description}}</p>
  <p>{{status}}</p>

  <a href="{{projectplanUrl}}">See projectplan</a>

  {{#if accountability}}
  <p>Accountability has been submitted</p>
  {{else}}
  <p>Please submit your accountability</p>
  {{/if}}

  <a href="/projects/{{_id}}/edit">Edit</a>
  <a href="/projects/{{_id}}/accountable">Accountability</a>
  <a href="/projects/{{_id}}/evaluate">Evaluate</a>
  <form action="/projects/{{_id}}/delete" method="POST"
    onclick="return confirm('Are you sure you want to delete this project?')">
    <button>Delete</button>
  </form>

</div>