<div class="container justify-content-center">
  <div class="card border-0 mx-auto" style="width: 80%;">
    <div class="card-body">
      <div>
        <h3 class="profile-header">Edit project</h3>
      </div>

      <form action="/projects/{{_id}}/edit" method="POST" enctype="multipart/form-data">

        <div class="row align-items-center">
          <div class="col">
            <div class="mb-3">
              <label class="form-label" for="name-input">Project name:</label>
              <input class="form-control" type="text" name="name" id="name-input" value="{{name}}" />
            </div>
            <div class="mb-3">
              <label class="form-label" for="date-input">Date:</label>
              <input class="form-control" type="date" name="date" id="date-input" value="{{date}}" />
            </div>
            <div class="mb-3">
              <label class="form-label" for="location-input">Location:</label>
              <input class="form-control" type="text" name="location" id="location-input" value="{{location}}" />
            </div>
            <div class="mb-3">
              <label class="form-label" for="description-input">Description:</label>
              <textarea class="form-control" name="description" id="description-input" cols="30"
                rows="4">{{description}}</textarea>
            </div>
            <div class="mb-3">
              <label class="form-label" for="projectimage-input">Project image:</label>
              <input class="form-control" type="file" name="projectimage" id="projectimage-input"
                class="form-control-file" />
            </div>
            <div class="mb-3">
              <label class="form-label" for="projectplan-input">Project plan:</label>
              <input class="form-control" type="file" name="projectplan" id="image-input" class="form-control-file" />
              <input class="form-control" type="text" name="existingPlan" hidden id="" value="{{projectplanUrl}}">
            </div>
            <div class="mb-3">
              <label class="form-label" for="costing-input">Upload Costing:</label>
              <input class="form-control" type="file" name="costing" id="costing-input" class="form-control-file" />
            </div>

          </div>
          <div class="col">
            {{#if project.projectImageUrl}}
            <img class="img-fluid project-image-size" src="{{project.projectImageUrl}}" alt="{{project.projectname}}">
            {{else}}
            <img class="img-fluid project-image-size"
              src="https://www.fondsvoorwest.nl/wp-content/uploads/2020/02/foto3-scaled.jpg" alt="Image placeholder">
            {{/if}}

          </div>
        </div>

        <button type="submit" class="btn btn-secondary">Save changes</button>

      </form>
    </div>
  </div>
</div>