<h1>Evaluation</h1>

<p>{{name}}</p>
<p>{{date}}</p>
<p>{{location}}</p>
<p>{{description}}</p>

<form action="/projects/{{_id}}/evaluate" method="POST">
  <label for="status">Select evaluation:</label>
  <select id="status" name="status">
    <option name="Approve" value="Approved">Approve</option>
    <option name="Decline" value="Declined">Decline</option>
    <option name="Request" value="Request for information">Request information</option>
  </select>

  <button type="submit">Save evaluation</button>

</form>