<div class="container justify-content-center">

  <div class="card border-0 mx-auto" style="width: 80%;">
    <div class="card-body">
      <div>
        <h3 class="profile-header">Evaluation</h3>
      </div>
      <div class="project-details-container">
        <div class="row ">
          <div class="col">
            <div class="mb-3">
              <h5>Project name:</h5>
              <p>{{name}}</p>
              <h5>Date:</h5>
              <p>{{date}}</p>
              <h5>Location:</h5>
              <p>{{location}}</p>
              <h5>Description:</h5>
              <p>{{description}}</p>
              <h5>Project by:</h5>
              <p>{{owner.firstname}} {{owner.lastname}}</p>
              <h5>Status:</h5>
              <p>{{status}}</p>
            </div>
            <div class="mb-3">
              <h5>Additional files:</h5>
              <a href="{{projectplanUrl}}">View project plan</a><br>
              <a href="{{costingUrl}}">View costing</a>
            </div>
          </div>
        </div>

        <form action="/projects/{{_id}}/evaluate" method="POST">
          <label for="status">Select evaluation:</label>
          <select id="status" name="status">
            <option name="Approved" value="Approved">Approve</option>
            <option name="Declined" value="Declined">Decline</option>
            <option name="Request" value="Request">Request</option>
          </select>

          <button type="submit">Save evaluation</button>

        </form>
      </div>
    </div>
  </div>