<h1>List of all projects</h1>

{{#each projects}}
<div>
  <h4>Project name: {{name}}</h4>
  <p>Date: {{date}}</p>
  <p>Location: {{location}}</p>
  <p>Description: {{description}}</p>
  <p>Status: {{status}}</p>
  <p>Project by: {{owner.firstname}} {{owner.lastname}}</p>


  <a href="/projects/{{_id}}/details">See details</a>
  <a href="/projects/{{_id}}/edit">Edit</a>
  <a href="/projects/{{_id}}/accountable">Accountability</a>
  <a href="/projects/{{_id}}/evaluate">Evaluate</a>
  <form action="/projects/{{_id}}/delete" method="POST" onclick="return confirm('Are you sure you want to delete this project?')">
    <button>Delete</button>
  </form>
</div>
<hr>

{{else}}
<h2>No project available</h2>
{{/each}}