<h1>List of all projects</h1>

{{#each projects}}
<div>
  <h4>{{name}}</h4>
  <p>{{date}}</p>
  <p>{{location}}</p>
  <p>{{description}}</p>
  <p>{{status}}</p>

  <a href="/projects/{{_id}}/details">See details</a>
  <a href="/projects/{{_id}}/edit">Edit</a>
  <a href="/projects/{{_id}}/accountability">Accountability</a>
  <a href="/projects/{{_id}}/evaluate">Evaluate</a>
  <form action="/projects/{{_id}}/delete" method="POST" onclick="return confirm('Are you sure you want to delete this project?')">
    <button>Delete</button>
  </form>
</div>
<hr>

{{else}}
<h2>No project available</h2>
{{/each}}