<section id="tabs" class="project-tab">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <nav>
              <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                {{#if (ifIsApplicant user.role) }}
                <a class="nav-item nav-link" id="nav-create-tab" data-toggle="tab" href="/create" role="tab" aria-controls="nav-create" aria-selected="false">Create</a>
                <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="/profile" role="tab" aria-controls="nav-profile" aria-selected="false">Profile</a>
                <a class="nav-item nav-link active" id="nav-project-tab" data-toggle="tab" href="/projects" role="tab" aria-controls="nav-project" aria-selected="true">Projects</a>
                {{/if}}
                {{#if (ifIsCommittee user.role) }}
                <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="/profile" role="tab" aria-controls="nav-profile" aria-selected="false">Profile</a>
                <a class="nav-item nav-link active" id="nav-project-tab" data-toggle="tab" href="/projects" role="tab" aria-controls="nav-project" aria-selected="true">Projects</a>
                {{/if}}
                {{#if (ifIsAdmin user.role) }}
                <a class="nav-item nav-link" id="nav-create-tab" data-toggle="tab" href="/create" role="tab" aria-controls="nav-create" aria-selected="false">Create</a>
                <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="/profile" role="tab" aria-controls="nav-profile" aria-selected="false">Profile</a>
                <a class="nav-item nav-link active" id="nav-project-tab" data-toggle="tab" href="/projects" role="tab" aria-controls="nav-project" aria-selected="true">Projects</a>
                <a class="nav-item nav-link" id="nav-admin-tab" data-toggle="tab" href="/admin" role="tab" aria-controls="nav-admin" aria-selected="false">Admin</a>
                {{/if}}
              </div>
            </nav>
          </div>
        </div>
      </div>
</section>


  <div class="container justify-content-center">

      <div class="card mx-auto" style="width: 80%;">
        <div class="card-body">
                <div class="profile-header">
                  <h3>Projects</h3>
                </div>
                {{#each projects}}

                <div class="row align-items-center">
                  <div class="col">
                    <div class="mb-3">
                      <h5>Project name: {{name}}</h5>
                      <p>Date: {{date}}</p>
                      <p>Location: {{location}}</p>
                    </div>
                  </div>
                  <div class="col">
                    <div class="mb-3 d-flex justify-content-evenly">
                        <button id="project-status" class="btn btn-success">{{status}}</button>
                        <a class="btn btn-primary" href="/projects/{{_id}}/details">Details</a>
                    </div>

                </div>
                </div>

                {{else}}
                <h2>No project available</h2>
                {{/each}}
        </div>
      </div>
  </div>


{{!-- <h1>List of all projects</h1>

{{#each projects}}
<div>
  <h4>Project name: {{name}}</h4>
  <p>Date: {{date}}</p>
  <p>Location: {{location}}</p>
  <p>Description: {{description}}</p>
  <p>Status: {{status}}</p>
{{req.user}}
  <p>Project by: {{owner.firstname}} {{owner.lastname}}</p>

  <a href="/projects/{{_id}}/details">See details</a>

  {{#if (ifIsApplicant user.role)}}
  <a href="/projects/{{_id}}/edit">Edit</a>
  <a href="/projects/{{_id}}/accountable">Accountability</a>
  {{/if}}

  {{#if (ifIsCommittee user.role)}}
  <a href="/projects/{{_id}}/evaluate">Evaluate</a>
  {{/if}}

  {{#if (ifIsAdmin user.role)}}
  <a href="/projects/{{_id}}/edit">Edit</a>
  <a href="/projects/{{_id}}/accountable">Accountability</a>
  <a href="/projects/{{_id}}/evaluate">Evaluate</a>
  {{/if}}

  <form action="/projects/{{_id}}/delete" method="POST"
    onclick="return confirm('Are you sure you want to delete this project?')">
    <button>Delete</button>
  </form>
  
</div>
<hr>

{{else}}
<h2>No project available</h2>
{{/each}} --}}