<div class="container justify-content-center">

  <div class="card mx-auto" style="width: 80%;">
    <div class="card-body">
      <div>
        <h3 class="profile-header">Projects</h3>
      </div>
      {{#each projects}}

      <div class="row align-items-center">
        <div class="col">
          <div class="mb-3">
            <h5>Project name: {{name}}</h5>
            <p>Date: <br>{{date}}</p>
            <p>Location: {{location}}</p>
          </div>
        </div>
        <div class="col">
          <div class="mb-3 d-flex justify-content-evenly">
            <button id="project-status" class="btn btn-success rounded-0">{{status}}</button>
            <a class="btn btn-primary rounded-0" href="/projects/{{_id}}/details">Details</a>
          </div>

        </div>
      </div>

      {{else}}
      <h2>No project available</h2>
      {{/each}}
    </div>
  </div>
</div>