{{#each users}}
      <div class="card border-0 mx-auto" style="width: 50%;">
        <div class="card-body">
                <div >
                  <h3 class="profile-header">{{firstname}} {{lastname}}</h4>
                </div>
            <p>Email: {{email}}</p>
            <p>Current role: {{role}}</p>
            
            
            <form action="/users/{{_id}}/edit" method="POST">
              <label for="role">Edit role:</label>
              <select class="form-select" id="role" name="role" aria-label="Default select example">
                <option selected>Select role</option>
                <option value="COMMITTEE">COMMITTEE</option>
                <option value="APPLICANT">APPLICANT</option>
              </select>           
              <button class="btn btn-primary rounded-0" type="submit">Save role</button>

              <form action="/users/{{_id}}/delete" method="POST"
              onclick="return confirm('Are you sure you want to delete this user?')">

              <button class="btn btn-danger rounded-0">Delete</button>
              </form>
            
            </form>
        </div>
      </div>
{{else}}
<h2>No users available</h2>
{{/each}}


<div class="container justify-content-center">

    <div class="card border-0 mx-auto" style="width: 80%;">
      <div class="card-body">
              <div>
               <h3 class="profile-header">Send a e-mail</h3>
              </div>
              <form action="/send-email" method="post">
                <label for="">Email</label>
                <input class="form-control" type="email" name="email" id="">
                <label for="">Subject</label>
                <input class="form-control" type="text" name="subject" id="">
                <label for="">Message</label>
                <textarea class="form-control" type="text" name="message" id=""></textarea>
                <button class="btn btn-primary rounded-0" type="submit">Send</button>
              </form>
      </div>
    </div>
</div>


