<div class="container justify-content-center">
  <div class="card border-0 mx-auto" style="width: 80%;">
    <div class="card-body">
      <div>
        <h3 class="profile-header">Edit profile</h3>
      </div>

      <form action="/user-profile/{{user._id}}/edit" method="POST" enctype="multipart/form-data">

        <div class="row align-items-center">
          <div class="col">
            <div class="mb-3">
              <label class="form-label" for="input-first-name">First name:</label>
              <input class="form-control" type="text" id="input-firstname" name="firstname" value="{{firstname}}" />
            </div>
            <div class="mb-3">
              <label class="form-label" for="input-last-name">Last name:</label>
              <input class="form-control" type="text" id="input-lastname" name="lastname" value="{{lastname}}" />
            </div>
            <div class="mb-3">
              <label class="form-label" for="input-email">Email:</label>
              <input class="form-control" type="email" id="input-email" name="email" value="{{email}}" />
            </div>
          </div>

          <div class="col">
            <img class="img-fluid profile-image-size" src="{{user.imageUrl}}" alt="{{user.firstname}}">
            <input type="file" name="image" id="image-input" class="form-control-file" />
            <label for="image-input">Profile picture</label>
          </div>
        </div>

        <button type="submit" class="btn btn-secondary rounded-0">Save changes</button>

        {{#if errorMessage}}
        <p class="error">{{errorMessage}}</p>
        {{/if}}
      </form>
    </div>
  </div>
</div>