<h1>Profile</h1>

{{!--views/users/user-profile.hbs --}}

{{!-- the new version, with the session: --}}

{{#if user}}
    <h2>Welcome, {{ user.firstname }}!</h2>
    <p>This is your profile page my friend!</p>

    <h3>Name</h3>
    <p>{{user.firstname}} {{user.lastname}}</p>

    <h3>Email</h3>
    <p>{{user.email}}</p>

    <button>
        <a href="/profile">Reload the page</a>
    </button>
{{else}}
    <p>Still no logged in user, sorry!</p>
{{/if}}

<a href="/edit-profile">Edit</a>