
    {{#if user}}

<div class="container justify-content-center">

    <div class="card mx-auto" style="width: 80%;">
      <div class="card-body">
              <div>
               <h3 class="profile-header">My Profile</h3>
              </div>

            <div class="row align-items-center">
                <div class="col profile-items">
                <h4>First name</h4>
                <p>{{user.firstname}}</p>
                <h4>Last name</h4>
                <p>{{user.lastname}}</p>
                <h4>Email</h4>
                <p>{{user.email}}</p>
              </div> 

              <div class="col">
                <img class="img-fluid profile-image-size" src="{{user.imageUrl}}" alt="{{user.firstname}}">
              </div>  
            </div>
          <a class="btn btn-secondary rounded-0" href="/user-profile/{{user._id}}/edit">Edit</a>
      </div>
    </div>
</div>

{{else}}
<p>Still no logged in user, sorry!</p>
{{/if}} 




